<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <title>URL - TinyApp Example</title>
</head>
<body>
    <%- include('partials/_header') %>
    <div class="card text-center">
        <div class="card-header"></div>
        <div class="card-body">
            <h5 class="card-title">TinyURL for: <%= longURL %></h5>
            <p class="card-text">Short URL: <a href="/u/<%= shortURL %>"><%= shortURL %></a></p>
            <p class="card-text">Long URL: <a href="#"><%= longURL %></a></p>
            <p class="card-text">
            <form class="form-inline" action="/urls/<%=shortURL%>?_method=PUT" method="POST">
                <div class="form-group mb-2">
                    <label for="longURL">Enter a URL:</label>
                    <input class="form-control" type="text" name="longURL" placeholder="http://" style="width: 300px; margin: 1em">
                <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
            </p>
        </div>
        <div class="card-footer text-muted"></div>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>